includeConfig "conf/params.config"

process {
    container = "docker.io/kobelavaerts/kinnex_demux_nf:v1"
}

process {
  cpus = 1
  memory = "2GB"
  
  withName:skera_split {
    cpus = params.nthr_skera
    memory = "4GB"
  }
  withName:lima {
    cpus = params.nthr_lima
    memory = "16GB"
  }
  withName:bam2fastq {
    cpus = params.nthr_bam2fastq
    memory = "32GB"
  }
}


profiles {
    docker {
        docker.enabled = true
    }
    test {
        params {
            nthr_skera = 2
            nthr_lima = 2
            par_bam2fastq = 2
            nthr_bam2fastq = 2


            movie = "m64279e_240524_094336_10k"
            adapterfolder = "bcM0002--bcM0002"
            samplesheet_path = "/mnt/nuc-data/GBW-0011_NUC/Team/Users/stephane.plaisance/kinnex_data/input/Exp4767_SMRTLink_Barcodefile_ori.csv"
            bampath = "/mnt/nuc-data/GBW-0011_NUC/Team/Users/stephane.plaisance/kinnex_data/input/m64279e_240524_094336_10k.hifi_reads.bcM0002--bcM0002.bam"
            reference_mas_seq_primers  = "/mnt/nuc-data/GBW-0011_NUC/Team/Users/stephane.plaisance/kinnex_data/barcode_files/MAS-Seq_Adapter_v2/mas12_primers.fasta"
            reference_kinex_primers = "/mnt/nuc-data/GBW-0011_NUC/Team/Users/stephane.plaisance/kinnex_data/barcode_files/Kinnex16S_384plex_primers/Kinnex16S_384plex_primers.fasta"

            outdir = "${launchDir}"
        }

        docker.enabled = true

        process {
            cpus = 1
            memory = "2GB"
            
            withName:skera_split {
                cpus = 2
                memory = "2GB"
            }
            withName:lima {
                cpus = 2
                memory = "2GB"
            }
            withName:bam2fastq {
                cpus = 2
                memory = "2GB"
            }
            }
    }
}