

params {



    nthr_skera = 64
    nthr_lima = 64
    par_bam2fastq = 16
    nthr_bam2fastq = 4


    log_skera = "INFO"
    log_lima = "INFO"

    outdir = "${launchDir}"

    runfolder = "/data/Sequel_data/4767_KDePaepe_PacBio/240524.Sequel2e.FCA"
    movie = "m64279e_240524_094336_10k"
    adapterfolder = "bcM0002--bcM0002"
    samplesheet = "Exp4767_SMRTLink_Barcodefile_ori.csv"
    samplesheet_path = "${runfolder}/${samplesheet}"
    // samplesheet_path = "test/samplesheet.csv"
    // samplesheet_path = "test/Exp4767_SMRTLink_Barcodefile_LDS20240524.csv"
    bampath = "${runfolder}/${adapterfolder}/${movie}.hifi_reads.${adapterfolder}.bam"
    // bampath = "test/file.bam"
    reference = "${runfolder}"
    // reference_mas_seq_primers  = "${reference}/MAS-Seq_Adapter_v2/mas12_primers.fasta"
    reference_mas_seq_primers  = "${reference}/MAS-Seq_Adapter_v2/mas12_primers.fasta"
    reference_kinex_primers = "${reference}/Kinnex16S_384plex_primers/Kinnex16S_384plex_primers.fasta"



    // SKERA_PATH = "/opt/pacbio/smrtlink/smrtcmds/bin/skera"
    // LIMA_PATH = "/opt/pacbio/smrtlink/smrtcmds/bin/lima"
    // BAM2FASTQ_PATH = "/opt/pacbio/smrtlink/smrtcmds/bin/bam2fastq"
    // PLOT_SH = "/opt/scripts/barcode_QC_Kinnex.sh"

    mincnt = 12000
    qc_format = "html"

}